<ion-header>
  <ion-toolbar>
    <ion-title>todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let taskName of this.taskList, let i = index">
      <ion-checkbox class="check {{ checkBox }}" (click)="taskDone()" [(ngModel)]="checked"></ion-checkbox>
      {{ taskName }}
      <ion-button color="danger" slot="end" clear (click)="deleteTask(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showPrompt()" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>